/* STYLES HERE ARE USED THROUGHOUT MULTIPLE FILES */

/* FLEX DISPLAYS */
.flex-dir-column {
    flex-direction: column;
}
.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FONTS */
@font-face {
    font-family: Madimi-Regular;
    src: url("../Fonts/Madimi/MadimiOne-Regular.ttf");
}
@font-face {
    font-family: Comfortaa-Medium;
    src: url("../Fonts/Comfortaa/static/Comfortaa-Medium.ttf");
}
@font-face {
    font-family: Dangrek-Regular;
    src: url("../Fonts/Dangrek/Dangrek-Regular.ttf");
}
@font-face {
    font-family: Lato-Bold;
    src: url("../Fonts/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: Nunito-Bold;
    src: url("../Fonts/Nunito/static/Nunito-Bold.ttf");
}

.madimi-regular {
    font-family: Madimi-Regular, Arial, Helvetica, sans-serif;
}
.comfortaa-medium {
    font-family: Comfortaa-Medium, Arial, Helvetica, sans-serif;
}
.dangrek-regular {
    font-family: Dangrek-Regular, Arial, Helvetica, sans-serif;
}
.lato-bold {
    font-family: Lato-Bold, Arial, Helvetica, sans-serif;
}
.nunito-bold {
    font-family: Nunito-Bold, Arial, Helvetica, sans-serif;
}