.search-container {
    width: 100vw;

    margin-top: 8vh;
}

.search-box {
    width: 35vw;
    height: 5vh;

    padding-left: 10px;
    padding-right: 10px;

    border: none;
    box-shadow: 0px 0px 30px rgb(165, 165, 165);
    border-radius: 10px;

    transition: box-shadow 0.2s ease-in-out;
}

.search-box:focus {
    outline: none;

    box-shadow: 0px 0px 30px rgb(70, 70, 70);
}